<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">תרגיל הגשה בחישוביות</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i>להגיש בעוד 3 ימים</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>עלייך להגיש את התרגיל בעוד 3 ימים עם שותפך לתרגיל אחיה אליאסף</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">שעות קבלה של גרא וייס</h4>
                </div>
                <div class="timeline-body">
                    <p>שעות הקבלה של גרא וייס יתקיימו בעוד 4 ימים (יום ה) בבניין 37 חדר 123 בשעות 12:00-14:00</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">בוחן במבוא להנדסת תוכנה</h4>
                </div>
                <div class="timeline-body">
                    <p>בוחן במבוא להנדסת תוכנה יתקיים בעוד 6 ימים (יום ו) בשעה 8:30 בבניין 34 חדר 106</p>
                </div>
            </div>
    </ul>
</div>
