<div [@routerTransition]>
    <h2 class="text-muted">Student Manager<small> Task Overview</small></h2>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'הודעות חדשות'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'מטלות חדשות'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-briefcase'" [count]="10" [label]="'הצעות עבודה'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-graduation-cap'" [count]="13" [label]="'ציונים'"></app-stat>
        </div>
    </div>
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts" style="direction: rtl">{{ alert.message }}</ngb-alert>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> ציר זמן
                </div>
                <!-- /.card-header -->
                <app-timeline></app-timeline>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> נוטיפיקציות
                </div>
                <!-- /.card-header -->
                <app-notification></app-notification>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card .chat-card -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
